
<!-- Normal without a table  -->
<div class="list_box">
<h1>Garageio</h1>
<h3>Mr. Calitri's car order in an unordered list</h3>
<ul>
  <% @cars.each do |car| %>
    <li><%= car.year %> <%= car.make %> <%= car.model %> in <%= car.color %> nicknamed <%= car.nickname %></li>
  <% end %>
</ul>
</div>

<!-- Bonus 2 - Say No Cars if no cars created in db -->
<% if @cars.size == 0 %>
<h3>No Cars Present</h3>
<% else %>
<!-- Bonus 1 -using a table  -->
<div class="form_box">
<h3>Mr. Calitri's car order</h3>
<table>
  <thead>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Color</th>
    <th>Nickname</th>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
    <tr>
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td><%= car.year %></td>
      <td><%= car.color %></td>
      <td><%= car.nickname %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
